.Modal {
    font-family: 'Open Sans';
    position: absolute; 
    background-color: #2e2e2e; 
    border: 1px solid #000; 
    box-sizing: border-box; 
    display: flex; 
    z-index: 100; 
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
}

@media (max-width: 1137px) {
    .Modal {
        display: inline-block; 
    }
} 
