.Right img{
    max-width: 100%; 
    max-height: 100%; 
}

.Right {
    display: flex; 
    width: 650px; 
    height: 390px; 
}

.Left {
    position: relative; 
    text-align: left; 
    display: block;
    width: 405px; 
    height: 390px; 
}

.Left header{
    text-align: right; 
    color: #c2c2c2; 
}

.Left h1 {
    padding-left: 10px; 
    font-size: 40px; 
    margin: -10px; 
    letter-spacing: 1px; 
    color: white; 
}

.Left h3 {
    color: #c2c2c2; 
}

.Left .ToolContainer {
    display: grid; 
    margin-top: 15px; 
    grid-template-columns: 75px 75px 75px 75px 75px; 
    grid-column-gap: 5px; 
    grid-row-gap: 20px; 
}

.Left .Tool {
    border: 1px solid #23b5d3; 
    width: 75px; 
    height: 23px; 
    margin: 0; 
    font-size: 12px; 
    display: flex; 
    justify-content: center;
}

.Left p {
    color: #c2c2c2; 
    font-size: 15px; 
    letter-spacing: 1px; 
    margin: 0; 
}

.Left .Desc {
    max-width: 380px; 
    max-height: 130px; 
    overflow-y: scroll; 
}

.Left .ButtonContainer {
    display: grid; 
    margin-top: 15px; 
    grid-template-columns: 100px 100px; 
    grid-column-gap: 10px; 
    grid-row-gap: 20px; 
}


.Left a {
    display: block; 
    color: white; 
    text-decoration: none; 
}

.Left button {
    letter-spacing: 1px; 
    display: flex; 
    font-size: 15px; 
    justify-content: center; 
}

.Left i {
    padding-right: 3px; 
}

@media (max-width: 1137px) {
    .Left {
        text-align: center; 
        width: 632px; 
    }

    .Right {
        width: auto; 
    }

    .Left .ToolContainer{
        justify-content: center;
    }

    .Left .Desc {
        max-width: none; 
    }

    .Left .ButtonContainer {
        justify-content: center; 
    }
}

@media (max-width: 400px) {
    .Right {
        height: 200px; 
        justify-content: center; 
    }
    .Left {
        width: 365px; 
    }

    .Left .ToolContainer {
        grid-template-columns: 60px 60px 60px 60px 60px; 
    }

    .Left .Tool { 
        width: 60px; 
        font-size: 10px; 
    }
}